/*
Media Queries
*/



/* Medium screens */
@media all and (min-width: 600px) {
  /* We tell both sidebars to share a row */
  .aside { flex: 0 auto; }
}



/* Large screens */
@media all and (min-width: 1200px) {
  /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars
   */
  .main { flex: 4 0px; }

  .aside-1    { flex: .8; order: 1; }
  .navigation { order: 2; }
  .main       { order: 3; }
  .aside-2    { flex: .8; order: 4; }
  .footer     { order: 5; }
}


/*@media screen and (min-width: 24.15em) { /* 21em "gate" * 1.15 font-size */
  /*p { line-height: calc(1.3em + (1.5 - 1.3) * ((100vw - 21em) / (35 - 21))); }
}*/

@media (min-width: 40.25em) { /* 35em "gate" * 1.15 font-size */
  /*p { line-height: 1.5em; }
}*/*/


@media screen and (min-width: 320px) {
  p {
    font-size: calc(16px + 8 * ((100vw - 320px) / 960));
  }
}

@media screen and (min-width: 1280px) {
  p {
    font-size: 22px;
  }
}

@media screen and (min-width: 20em) {
  p {
    line-height: calc(1.5em + 0.6 * ((100vw - 20em) / 60));
  }
}

@media screen and (min-width: 80em) {
  p {
    line-height: 1.8em;
  }
}
