/*
Media Queries
*/



/* Medium screens */
@media all and (min-width: 600px) {
  /* We tell both sidebars to share a row */
  .aside { flex: 0 auto; }
}

/* Large screens */
@media all and (min-width: 1600px) {
  /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars
   */
  .main { flex: 4 0px; }

  .aside-1    { flex: 1; order: 1; }
  .navigation { order: 2; }
  .main       { order: 3; }
  .aside-2    { flex: 1; order: 4; }
  .footer     { order: 5; }
}
